.data_list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
    padding: 10px 10px;
    border-top: 1px solid gray;

    p {
        min-width: 9%;
        max-width: 9%;
        text-align: center;
    }

    button {
        width: 42px;
        text-align: center;
        border: none;
        background: transparent;
    }

    select {
        option {
            text-align: center;
        }
        size: 1;
        min-width: 9%;
        max-width: 9%;
    }

}

.list__header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
    padding: 10px 10px;

    li {
        min-width: 9%;
        max-width: 9%;
        text-align: center;
    }

    button {
        width: 100%;
        text-align: center;
        border: 1px solid #8E91A0;
        border-radius: 10px;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            text-align: center; 
        }
        
    }

    button:hover {
        cursor: pointer;
        background:  #ff8800;
        color: #FFFFFF;
    }
}

.list__contsiner {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(136, 136, 136, 0.24);
    border-radius: 8px;
    margin: 24px 40px;
}

.icon {
    width: 30px;
    height: 30px;
}

.icon__create {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

// .icon__create:hover {
//     cursor: pointer;
//     filter: invert(44%) sepia(97%) saturate(834%) hue-rotate(2deg) brightness(106%) contrast(103%);
// }

.icon:hover {
    cursor: pointer;
    filter: invert(44%) sepia(97%) saturate(834%) hue-rotate(2deg) brightness(106%) contrast(103%);
}