.btn__container {
  width: 100vw;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.open__btn {
  margin: 10px 20px;
  padding: 20px;
  background-color: slategrey;
}
