header {
  background-color: rgb(253, 253, 253);
  padding: 5px 5px;
  box-shadow: 0px 1px 4px rgb(241, 241, 241);

  .container {
    padding-left: 20px;
    margin: 0px auto;
    display: flex;
    justify-content: start;
    color: rgb(107, 107, 107);
    img {
      margin-top: 15px;
      width: 50px;
      height: auto;
      cursor: pointer;
      color: rgb(107, 107, 107);
    }
    .menu {
      margin-left: 10px;
      margin-top: 10px;
      ul {
        display: flex;
        justify-content: start;
        li {
          margin-left: 10px;
          display: block;

          padding: 3px 5px;
          border-radius: 4px;
          a {
            font-size: 18px;
            text-decoration: none;
            color: rgb(107, 107, 107);
          }
          a:hover {
            color: black;
            text-decoration: underline;
          }
        }
        li:hover {
          cursor: pointer;
        }
      }
    }
  }
}
.section {
  box-shadow: 0px 1px 4px rgb(241, 241, 241);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  .container {
    padding-left: 10px;
    margin: 0px auto;

    .breadcrambs {
      padding: 5px 0px;
      display: flex;
      justify-content: start;

      ul {
        display: flex;
        justify-content: start;
        color: rgb(107, 107, 107);
        li {
          margin-left: 10px;
          margin-right: 10px;
          display: block;
          color: rgb(107, 107, 107);

          a {
            margin-left: 5px;
            color: rgb(107, 107, 107);
            text-decoration: none;
          }
          a:hover{
            color: black;
            text-decoration: underline;
          }
          a.current {
            color: black;
            font-size: 16px;
            text-decoration: none;
          }
          a.current:hover {
            cursor: auto;
          }
        }
        li:hover {
          cursor: pointer;
        }
        li.current {
          color: black;
          font-size: 18px;
        }
        li.current:hover {
          cursor: auto;
        }
      }
    }
  }
}
.icon {
  width: 18px;
  height: 18px;
}
.icon:nth-child(2){
  color: black;
}